.header {
    background-color: white;
    border: none;
}

.card-title {
    font-size: 1rem;
    font-weight: normal;
}

.card-icon {
    font-weight: normal;
}

.card-data {
    font-size: 1.3rem;
    font-weight: bold;
}