* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard-title {
    font-weight: bold;
}

.font-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.font-text {
    font-size: 1.125rem;
}

.font-subtitle {
    font-size: 0.875rem;
}
